header {
	background-image: url("banerBG.png");
	width:1500px;
	height: 450px;
	margin:0;
}

body{
	position: absolute;
	margin-left: 210px;
	margin-right: 210px;
	top: 0px;
	width: 1500px;
	height: 3450px;
	font-size: 100%;
}

a{
	text-decoration: none;
	color: #873d1a;
}

nav{
	background-color: #b9daa3;
	position: absolute;
	width: 1500px;
	height: 85px;
	opacity: 0.9;
}

nav ul {
	position: absolute;
	left: 357.8px;
	top:20.8px;
	margin:0px; 
	padding: 0px;
	font-size: 35px;
	font-family: "Candara";
	color: #873d1a;
	text-align: left; 
}

nav ul li {
	display: inline;
	margin-right: 30px;
}

nav ul li a{
		color: #873d1a;
}
header input{
	background-color: #6c7053;
	position: absolute;
	left: 1140px;
	top: 11px;
	width: 345px;
	height: 65px;
	border: 5px solid #b1a574;
	box-sizing: border-box;
 background-image: url("search_ico.png");   
    background-repeat: no-repeat;
    background-position: 4px;

}

header img{
	position: absolute;
	left: 1146px;
	top: 20px;
}

.gorizontal_line{
	margin:0;
	height: 50px;
	background-color: #d8dad6;
	border:0;
}


/* foto block*/

#foto_block{
	height: 750px;
	margin:0;
}

.foto_content{
	width:1500px;
	height: 700px;
	display:inline-block;
	box-sizing: border-box;
	padding: 50px;
}

#left_bar{	
	position: relative;
	width: 480px;
	height: 600px;
	background-color: #c0c0c0;
	margin:0;
	display:inline-block;
	float:left;
}

#foto{
	position: absolute;
	display:inline-block;
	margin:0;
	float:right; 	
}

#foto_BG{
	position: absolute;
	right:0px;
	border-bottom: 700px solid #dcd79a;
	border-left: 423px solid transparent;
	height: 0;
	width: 528px;
	margin:0;
	z-index: 0;
}

#left_bar h3 {
	margin:0;
	font-size: 35.56px;
	font-family: "Candara";
	color: #ffffff;
	line-height: 2.143;
	text-align: left;
		position: absolute;
	left:  167px;
	top:20px;
}

#date {
	margin:0;
	font-size: 60.96px;
	font-family: "Candara";
	color: #ffffff;
	line-height: 1.25;
	text-align: left;
	position: absolute;
	left: 118px;
	top: 200px;
}

#place {
	margin:0;
	font-size: 30.48px;
	font-family: "Candara";
	color: #ffffff;
	line-height: 2.5;
	text-align: left;
	position: absolute;
	left: 68px;
	top: 285px;
}

#reload {
	position: absolute;
	left: 190px;
	bottom: 35px;
	width: 40px;
	height: 40px;
	border: 0;
	margin:0;
	padding: 0;
	background-image: url("reload_ico.png");
}


/*------dropdown menu======*/

#share {
	position: absolute;
	right:190px;
	bottom: 35px;
	width: 40px;
	height: 40px;
	margin:0;
	padding: 0;
	background-image: url("share_ico.png");
	border: 0;
}
.dropup{
	position:inherit;
	top:525px;
	left:200px;
	width: 280px;
	height: 75px;
}




.dropdown-menu li a{
  font-family: "Candara";
  color: rgb( 118, 114, 114 );
  line-height: 1.667;
  text-align: left;
}


.dropdown_menu a:before {
    display: inline-block;
    margin-right: 7px;
    }

	[href*="https://www.instagram.com/"]:before {
    content: url("i.jpg")
  }
  
  [href*="https://twitter.com/"]:before {
    content: url("t.jpg")
  }
  
  [href*="https://www.facebook.com/"]:before {
    content: url("f.jpg")
  }
  

/*---------------------stories block--------------------*/

#stories_block{
	height: 750px;
	margin:0;
}

#stories_BG {
	position: absolute;
	left:0px;
	border-top: 700px solid #dcd79a;
	border-right: 413px solid transparent;
	height: 0;
	width: 105px;
	margin:0;
}

.header {
	position: relative;
  height: 100px;
  width: 1500px;
}

.left_header_line{
	position: absolute;
	left: 537px;
  top: 50px;
  width: 100px;
  height: 2px;	
  margin:0;
  background-color: #873d1a;
	border:0;
}

.right_header_line {
  position: absolute;
  top: 50px;
  left: 847px;
  width: 100px;
  height: 2px;	
  margin:0;
  background-color: #873d1a;
	border:0; 
}

.header a {
  font-size: 50.8px;
  font-family: "Candara";
  color: #873d1a;
  text-align: center;
  position: absolute;
  width:190px;
  left: 647px;
  top: 19px;
}

 #stories_block .content{
 	position: relative;
	height: 550px;
	width: 1500px;
}


#first_column_stories{
 	position: relative;
 	left:20px;
 	display: inline-block;
}

.story{
 	margin-left:31px;
 	display: inline-block;
 	width:445px;
 	height: 550px;
 	border:2px solid #873d1a;
 	background-color: #ffffff;

}
 .story img{
 	margin-left: 45px;
 	margin-top: 30px;
 	margin-right: 45px;
 }

.content_text {
  font-size: 35px;
  font-family: "Candara";
  color: rgb( 135, 61, 26 );
  line-height: 2.143;
  text-align: left;
  margin-left: 49px;
  top: 320px;
}

#stories_left{
	position: absolute;
	padding: 0;
	border: 0;
	left: 10px;
	top:255px;
	height: 40px;
	width:40px;
}

#stories_right{
	position: absolute;
	padding: 0;
	border: 0;
	right: 10px;
	top:255px;
	height: 40px;
	width:40px;
}


/*-------------------avtors_block ----------------*/

#avtors_block{
	height: 450px;
	margin:0;
}

#avtors_BG{

}

 #avtors_block .content{
 	position: relative;
	height: 300px;
	width: 1500px;
}

#avtors_block .content .left{
		position:relative;
		top:70px;
	margin-left:97px;
	float: left;
	width:53px;
	height:61px; 
	border:0;
	padding: 0;
}


#avtors_block .content .right{
	position:absolute;
	top:70px;
	width:53px;
	height:61px; 
	border:0;
	padding: 0;
}
.avtor{
	position:relative;
 	display: inline-block;
 	width:300px;
 	height: 300px;
 	background-color: #ffffff;
}

.avtor img {
	margin-left:50px;
	margin-right: 50px;
}

.avtor p{
	align:center;
		margin-left:34px;
		margin-right: 34px;
		margin-top: 5px;
	margin-bottom: 0;
		 font-size: 35.56px;
  font-family: "Candara";
  color: rgb( 135, 61, 26 );
  line-height: 2.143;
}

/*----------------------------news_block------------------------*/

#news_block{
	height: 750px;
	margin:0;
}

 #news_block .content{
 	position: relative;
	height: 600px;
	left:50px;
}

.news{
	margin: 0;
	margin-left: 35px;
	margin-right: 35px;
	width: 630px;
	height: 550px;
	 	border:2px solid #873d1a;
	 	display: inline-block;
	 		box-sizing: border-box;
}

.news img{
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
}

.news p {
	margin:0;
  font-size: 35.56px;
  font-family: "Candara";
  color: rgb( 135, 61, 26 );
  line-height: 1.3;
  text-align: left;
  padding-left:25px;
  width: 585px;
}


/*----------------------subscribe block-------------*/


#subscribe{
		position: relative;
	height: 150px
	width:1500px;
		background-color: #d8dad6;
}

#subscribe p{
	margin: 0;
	width: 1450px;
  font-size: 45px;
  font-family: "Candara";
  color: rgb( 154, 99, 78 );
  line-height: 1.6;
  text-align: right;
  right: 10px;
  top: 15px;
}

#subscribe input{
	position: relative;
	width: 475px;
	height: 50px;
	left:50px;
	bottom: 25px;
	 background-image: url("mail.png");   
    background-repeat: no-repeat;
    background-position: 400px;
}

::-webkit-input-placeholder {
  font-size: 35.56px;
  font-family: "Candara";
  color: #757874;
  line-height: 2;
  text-align: left;
}

footer{
	height: 150px;
	background-color: #abc999;
}

footer img{
	display: block;
	position: relative;
	top: 10px;
    margin-left: auto;
    margin-right: auto
}

footer nav{
	height: 70px;
	  background-color: transparent;
	   font-size: 30.48px;
	  line-height: 0.5;
	  bottom: 20px;
}

footer nav ul{
	left:260px;
}

